//variables de color
$color-fondo: rgb(29, 29, 29);
$color-fondo2: rgb(59, 59, 59);
$color-nav-header: rgb(3, 158, 3);
$color-letras:white;
$color-fondo-tarjeta: rgb(59, 59, 59);
$color-fondo-formulario:rgb(59, 59, 59);
$color-fondo-footer-header: black;
$color-animacion-bienvenida: red;

