#Formulario-IniciarSesion{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        font-size: 40px;
        color: $color-letras;
    }
    .IniciarSesion{
        padding: 30px;
        border: 1px solid black; /*borde para la tarjeta7*/
        border-radius: 4px; /*borde redondeado*/
        width: 500px; /*ancho*/
        height: 250px;
        background-color: $color-fondo-formulario;
        margin: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            color: $color-letras;
            display: flex;
            align-items: center;
            justify-content: center;
        } 
    
    }
    .IniciarSesion-datos{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .IniciarSesion-boton{
        padding-bottom: 15px;
        padding-top: 15px;
        .Boton{
            font-size: 20px;
        }
    }
    .IniciarSesion p, a{
        color: $color-letras;
    }
}

