
@media (max-width:576px){
    .navegador{
     padding-top: 30px;
    }
    #main__bienvenida{
        width: 101%;
        h2{

            font-size: 30px;
            padding: 5px;
            height: 30px;
            background-color: black;
            color: white;
            display: flex ;
            justify-content: center;
            align-items: center;    
            
        }
    }

    #main__texto{
        background-color:rgb(43, 43, 43);;
        padding: 40px;
        height: 500px;
        h2{
            font-size: 30px;
           
        }
        .boton__comenza {
            font-size: 40px;
            padding: 40px;
            
        }
    }

    .contenedor-texto h2 {
        font-size: 30px;
        
    }

    

    #ayuda{
        h2{
            font-size: 40px;
            padding-top: 60px;
            color: white;
        }
        .ayuda-formulario {
            padding: 20px;
            border: 1px solid black;
            border-radius: 4px;
            width: 300px;
           
        }

        .ayuda-RedesSociales {
            border: none;
            width: 100%;
            ul{
                text-align: center;
                display: flex;
                justify-content: center;
                flex-direction: row;
                li img{
                    padding: 2px;
                    height: 30px;
                    width: 40px;
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                }
            }
        }
    }


    footer{
        background-color: black;
        padding: 30px;
        height: 150px;
        display: flex;
        
    
    }

    .contenedor-noticia h2{
        font-size: 30px;
    }
}

