.bg-dark {
    background-color: $color-fondo-footer-header !important;
}
.logo{
    height: 60px;
}
.title{
    color: $color-fondo-footer-header;
    font-size: 30px;
    
}

.btn{
    color: $color-nav-header;
    a{
        color: $color-nav-header;
    }
    
    .--outline-warning{
        --bs-btn-border-color:$color-nav-header;
    }
}

.text-warning{
    color: $color-nav-header;
}
.nav-link{
    color: $color-nav-header ;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: $color-nav-header
}

.btn a{
    color: $color-nav-header;
}

.btn-outline-warning{
    --bs-btn-border-color:$color-nav-header;
}

.navegador{
    @include mobile{
        padding-top: 30px;  
    }
}